####################################################################################################
## General

PORT=8055
PUBLIC_URL="/"
ADMIN_EMAIL="admin@mail.com"
ADMIN_PASSWORD="laniuslab"
NOTIFICATION_URL="host.com"


####################################################################################################
## Database

DB_CLIENT="mssql"
DB_HOST="hsot"
DB_PORT="1433"
DB_DATABASE="db"
DB_USER="sa"
DB_PASSWORD="pw"
DB_OPTIONS__ENCRYPT="false"

####################################################################################################
## Rate Limiting

RATE_LIMITER_ENABLED=false
RATE_LIMITER_STORE=memory
RATE_LIMITER_POINTS=25
RATE_LIMITER_DURATION=1

####################################################################################################
## Cache

CACHE_ENABLED=false

####################################################################################################
## File Storage

STORAGE_LOCATIONS="local"
STORAGE_LOCAL_DRIVER="local"
STORAGE_LOCAL_ROOT="./uploads"

####################################################################################################
## Security

KEY=""
SECRET=""


ACCESS_TOKEN_TTL="365d"
REFRESH_TOKEN_TTL="365d"
REFRESH_TOKEN_COOKIE_SECURE=false
REFRESH_TOKEN_COOKIE_SAME_SITE="lax"
REFRESH_TOKEN_COOKIE_NAME="refresh_token"

####################################################################################################
## Auth Providers

AUTH_PROVIDERS=""

####################################################################################################
## Extensions

EXTENSIONS_PATH="./extensions"

####################################################################################################
## Email

EMAIL_FROM="test@mail.com"
EMAIL_TRANSPORT="smtp"
EMAIL_SMTP_HOST="smtp.office365.com"
EMAIL_SMTP_PORT="587"
EMAIL_SMTP_USER="user@mail.com"
EMAIL_SMTP_PASSWORD="pw"

ADMIN_ID=""
ADMIN_ROLE=""
TZ=Asia/Jakarta

## REDIS
# REDIS_HOST=localhost
# REDIS_PORT=6379
# REDIS_USERNAME=''
# REDIS_PASSWORD=''

##WORKFLOW

WORKFLOW_HOST="http://192.168.18.222"
WORKFLOW_CP_SERVER_PORT="9021"
WORKFLOW_CONNECT_PORT="8083"
WORKFLOW_KSQL_PORT="8088"
WORKFLOW_CP_VERSION="2.0"

MAX_PAYLOAD_SIZE=10mb
EXTENSION_AUTO_RELOAD=true

# CORS
CORS_ENABLED=true
CORS_ORIGIN=*
CORS_METHODS=GET,POST,PUT,PATCH,OPTIONS,DELETE
CORS_ALLOWED_HEADERS=Content-Type,Authorization,Cache-Control

KROKI_SERVER=http://localhost:9099

## BI
BI_USER=tech@mail.com
BI_PASS=pw
BI_URL=http://metabase.com

#elastic search
ELASTIC_SEARCH_ENABLED=true
ELASTIC_SEARCH_BASE_URL=http://host.com
ELASTICSEARCH_USERNAME=user
ELASTICSEARCH_PASSWORD=pw
ELASTIC_SEARCH_INDEX=mydoc

#WEBSOCKET
WEBSOCKET_ENABLED=true
WEBSOCKET_CORS=https://host.tech # comma separated
